@mixin anim {
  animation: showBlock 1s linear forwards;
}
.image {
  //background-color: #fdfdfd;
  height: 100vh;
  background-image: url('../img/moscow-city-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -131px;
}

.title {
  @include anim;
  color: #ffffff !important;
  text-shadow: 3px 3px #000000;
}

.subtitle {
  @include anim;
  color: #fff !important;
  text-shadow: 1px 1px #000000;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
