@mixin anim {
  animation: showBlock 1s linear forwards;
}
.image {
  height: 100vh;
  background-image: url('../img/moscow-city-dark.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -131px;
}

.title {
  @include anim;
  color: #ffffff !important;
  text-shadow: 3px 3px #000000;
}

.subtitle {
  @include anim;

  @media (max-width: 800px) {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainTitle {
  @media (max-width: 800px) {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
}
