@mixin boxShadowBottom {
  -webkit-box-shadow: 0px -3px 0px 0px #2c2c2c inset;
  -moz-box-shadow: 0px -3px 0px 0px #2c2c2c inset;
  box-shadow: 0px -3px 0px 0px #2c2c2c inset;
}

.logoText {
  color: #c5defa;
  font-size: 1.5rem;
}

.shadowClass {
  box-shadow: 0 12px 21px -14px #3a3a3a;
  -webkit-box-shadow: 0 12px 21px -14px #3a3a3a;
  -moz-box-shadow: 0 12px 21px -14px #3a3a3a;
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  padding: 0;
}

.authSection {
  display: flex;
  justify-content: flex-end;
}
.navLink button {
  color: #2c2c2c;
}
.navLink:hover {
  & button {
    color: #69b1ff;
  }
}

.activeLink {
  & button {
    font-weight: bold;
    color: #2c2c2c;
  }
}
