@mixin boxShadowBottom {
  -webkit-box-shadow: 0px -3px 0px 0px #2c2c2c inset;
  -moz-box-shadow: 0px -3px 0px 0px #2c2c2c inset;
  box-shadow: 0px -3px 0px 0px #2c2c2c inset;
}

.logoText {
  color: #c5defa;
  font-size: 1.5rem;
}

.shadowClass {
  box-shadow: 0 12px 21px -14px #3a3a3a;
  -webkit-box-shadow: 0 12px 21px -14px #3a3a3a;
  -moz-box-shadow: 0 12px 21px -14px #3a3a3a;
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  padding: 0;
}

.headerContainer:hover {
  background-color: #3a3a3a !important;

  .link {
    color: white;
  }

  .firstLineLink {
    color: white !important;
  }

  .subtitleInvest {
    color: white !important;
  }

  .authIconBtn {
    color: white !important;
  }
}

.authSection {
  display: flex;
  justify-content: flex-end;
}

.link {
  font-family: Bebas Neue, Bebas-fallback, sans-serif;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.0151em;
  text-transform: uppercase;
  transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #3a3a3a;
}

.link:hover {
  border-color: #ffffff;
}

.subtitleInvest {
  margin-top: 6px !important;
  margin-bottom: 10px !important;
  font-size: 10px !important;
}

.firstLineLink {
  font-weight: 100 !important;
  font-family: 'Roboto', sans-serif !important;
  text-align: unset !important;
  line-height: initial !important;
  font-size: 14px !important;
  box-sizing: inherit !important;
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none;
  margin-right: 32px;
}

.secondLineLinksContainer {
  display: flex;
  border-bottom: 1px solid #ababab;
}

.authIconBtn {
  margin-left: auto;
}
