.tabsContainer {
  display: flex;
  width: 100%;

  @media (max-width: 969px) {
    display: none;
  }
}

.burgerTabsContainer {
  display: none;

  @media (max-width: 969px) {
    display: flex;
  }
}

.tabLink {
  margin: 0 2.3rem 0 0;
  text-align: center;
}

.active {
  border-bottom: 2px solid #ef0f33;
}
