.container {
  position: fixed;
  width: 30%;
  height: 80vh;
  background-color: transparent;
  border-radius: 10px;
  bottom: 10vh;
  right: 5%;
  z-index: 1000;

  @media (max-width: 600px) {
    width: 90%;
  }

  @media (min-width: 601px) and (max-width: 700px) {
    width: 85%;
  }

  @media (min-width: 701px) and (max-width: 849px) {
    width: 80%;
  }

  @media (min-width: 850px) and (max-width: 1024px) {
    width: 65%;
  }

  @media (min-width: 1025px) and (max-width: 1124px) {
    width: 55%;
  }

  @media (min-width: 1125px) and (max-width: 1424px) {
    width: 45%;
  }

  @media (min-width: 1425px) and (max-width: 1524px) {
    width: 40%;
  }

  @media (min-width: 1525px) {
    width: 35%;
  }
}

.mainBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
